body {
  background-color: #444444;
}


#main {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#drum-machine {
  margin: 150px auto;
  align-items: center;
  justify-content: center;
  outline: 5px solid green;
  border-radius: 5px;
  position: relative;
  text-align: center;
  background-color: aquamarine;
  width: 300px;
  height: 200px;
}


#allButtons {
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  width: 40px;
  height: 80px;
}

#display {
  padding: 4px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 500;
  outline: 5px solid green;
  margin: 1px;
  
}

.drum-pad {
  margin: 5px;
  padding: 5px;
  outline: 3px solid black;
  cursor: pointer;
}

.eachButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 4px;
  font-size: large;
  font-weight: 500;
  margin: 7px;
  background-color: aqua;
  box-shadow: black 3px 3px 5px;
  border-radius: 3px;
}
